*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s all ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background: radial-gradient(circle at 100% 100%, rgb(10, 10, 10), rgba(1, 1, 1, 1));
}

.quote-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 1000px;
    width: 100%;
    font-size: 40px;
    font-weight: 400;
    padding: 0 20px;
}

.quote-section b{
    font-weight: 400;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 30%;
}

.quote-highlight{
    font-weight: 800;
    color:rgb(200, 19, 49);
}

.gallery-title{
    font-size: 40px;
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 180px;
    margin-bottom: 60px;
}

.container{
    padding: 0 5%;
}

.container .img-container{
    columns: 225px 4;
    gap: 15px;
}

.container .img-container img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.container .img-container img:hover{
    transform: scale(1.02);
    transition: transform 0.05s ease-in-out;
}

.header-logo{
    padding-left: 30px;
    width: 275px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    user-select: none;
}

nav{
    background-color: #000000;
    box-shadow: 0px 0px 20px rgba(10, 10, 10, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header-nav{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 125px;
}

.header-nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.header-nav a:hover{
    opacity: 1;
}

.header-nav li:first-child{
    margin-right: auto;
}

.no-scroll {
    overflow: hidden;
}

.button{
    cursor: pointer;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 20px;
    height: 100vh;
    width: 300px;
    z-index: 1000;
    background-color: #000000b0;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    list-style: none;
    animation-name: sidebar-slide-in;
    animation-duration: 0.3s;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.sidebar li{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar a{
    width: 100%;
    text-decoration: none;
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.sidebar a:hover{
    opacity: 1;
}


.menu-button{
    display: none;
}

.footer-logo{
    padding: 5px 20px;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
    user-select: none;
}

.footer-text{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
}

footer{
    display: flex;
    align-items: center;
    background: #000000;
    box-shadow: 0px 0px 20px rgba(10, 10, 10, 0.1);
}

@media (max-width: 1000px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media (max-width: 500px){
    .sidebar{
        width: 100%;  
    }
    .quote-section{
        height: 600px;
    }
    :root{
        --sidebar-width: -500px;
    }
}

@media (min-width: 500px){
    :root{
        --sidebar-width: -300px;
    }
}

@keyframes sidebar-slide-in{
    from {right: var(--sidebar-width);}
    to {right: 0;}
}